@charset "utf-8";
@import url(font.css);

*{
    box-sizing: border-box;
    margin:0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
header .menu{
    position:fixed;
    background-color:#fff;
    width:100%;
    height:10rem;
    z-index:100;
    left:0; top:0;
    padding:0 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header .menu .logo{
    display:inline-block;
    width:11.1rem;
    height:100%;
    /* background-repeat:no-repeat; 
    background-position: center;
    background-size: contain;
    background-image: url(/img/logo.svg); */
}

header .menu .logo a{
    position:relative;
    left:0; top:50%;
}
header .menu .logo a img{
    transform: translateY(-50%);
}
header .menu .menu_list{
    display:block;
    text-align: center;
}
header .menu .menu_list ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu .menu_list ul li{
    width:17rem;
    font-size:2rem;
    font-family:'Karla', sans-serif;
    font-weight: 500;
}

header .menu .sub_menu{
    display:block;
}
header .menu .sub_menu .all_menu{
    position:relative;
    left:0; top:0;
    display:block;
    width:5rem;
    height:5rem;
    background-color:#111;
    border-radius: 50%;
}

header .menu .sub_menu .all_menu .icon{
    position:absolute;
    text-align: center;
    transform: translate(-50%, -25%);
}
header .menu .sub_menu .all_menu .icon .line{
    display:block;
    background-color: #fff;
    width:2rem;
    height:0.2rem;
    margin-bottom:0.5rem;
}


#header { 
    position: fixed; 
    width:100%; 
    background: #fff; 
    height: 10rem; 
    z-index: 101;
    left:0; top:0; 
    }

#header.scrolled { 
    position: fixed; 
    width: 100%; 
    animation: slide-down 0.6s; 
    box-shadow: 0 0.5rem 3rem rgba(58,109,161,0.05); 
    background: #fff;
    z-index: 999;
    transition:0.5s;
} 









@keyframes slide-down { 
    0% { opacity: 0; transform: translateY(-100%); } 
    100% { opacity: 1; transform: translateY(0); } 
}





/* main */
#content_wrap{
    width:100%;
    position: relative;
    max-width: 128rem;
    margin:0 auto;
    padding: 0 20px;
}
.sub_title{
    padding-top:20rem;
    margin-bottom:9rem;
    position:relative;
}

.sub_title h2{
    font-size:7.4rem;
    color:#000;
    letter-spacing: -0.22rem;
    line-height:8.7rem;
    font-family: 'Karla';
    font-weight:700;
}
.sub_title h2 .point_blue{
    color:#04a6e1;
    font-size: 6.2rem;
    margin-left:0.8rem;
}

.experience_slider_wrap { 
    margin-bottom: 3.4rem; 
    position: relative; 
} 

.experience_slider_wrap .slider_btn {
     position: absolute; 
     right: 0; 
     bottom: calc(100% + 11.2rem);
     
} 

.experience_slider_wrap .slider_btn button { 
    margin-left: 4.5rem; 
    display: inline-block; 
    width: 7.6rem; 
    height:4rem; 
    vertical-align: middle; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
} 

.experience_slider_wrap .slider_btn .prev {
    background-image: url(../img/arrow_left_before.png);
}

.experience_slider_wrap .slider_btn .next {
    background-image: url(../img/arrow_right_before.png);
}
.experience_slider_wrap .slider_btn .prev:hover {
    background-image: url(../img/arrow_left_after.png);
}

.experience_slider_wrap .slider_btn .next:hover {
    background-image: url(../img/arrow_right_after.png);
}

.experience_slider_wrap .slider_btn button img { display:none; width: 7.6rem; } 



.experience_slider * {
    outline: none;
}
.experience_slider{
    padding-left:10rem;
    display:flex;
}
.experience_slider .slick-list { overflow: visible; } 
.experience_slider .slick-slide { padding: 0 1rem; transition: .5s ease-in-out; } 
.experience_slider .experience_thumnail { 
    position: relative; 
    width: 36.6rem !important; 
    height: 36.6rem; 
} 
.experience_slider .experience_thumnail .img { 
    display: inline-block; 
    width: 26rem; height: 26rem; 
    border-radius: 9rem; 
    box-shadow: 0 2rem 3rem rgba(58,109,106,0.1); 
    position: relative; 
    cursor: pointer; 
    transition: .5s ease-in-out; 
    overflow: hidden; 
    z-index: 1; 
    
} 
.experience_slider .experience_thumnail .img img { width: 100%; } 
.experience_slider .experience_thumnail .img::before { 
    display: block; 
    content: ""; 
    width: 0; height: 0; 
    background: linear-gradient(to bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.3)); 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%,-50%); 
    opacity: 0; 
    visibility: hidden; 
    border-radius: 10rem; 
    z-index: 1; 
} 
.experience_slider .experience_thumnail .hidden_txt { 
    position: absolute; 
    bottom: 0; left: 0; 
    opacity: 0; 
    visibility: hidden; 
    z-index: 2; 
    color: #fff; 
    display: block; 
    width: 100%; 
    padding: 6rem 4.5rem; 
    text-align: left; 
} 
.experience_slider .experience_thumnail .hidden_txt .category { 
    font-size: 1.6rem; 
    display: block; 
    letter-spacing: -0.08rem; 
} 
.experience_slider .experience_thumnail .hidden_txt .title { 
    display: block; 
    margin-top: 1rem; 
    font-size: 1.9rem; 
    line-height: 2.6rem; 
    color: #fff; 
    font-weight: 500; 
    letter-spacing: -0.09rem; 
} 
.experience_slider .experience_thumnail .link { 
    display: block; 
    width: 10.6rem; height: 10.6rem; 
    background: #0F0F0F; 
    position: absolute; 
    top: -4.3rem; right: -2.8rem; 
    border-radius: 50%; 
    text-align: center; 
    opacity: 0; 
    visibility: hidden; 
    z-index: 2; 
} 
@keyframes rotate_ani { 
    0% { transform: translate(-50%,-50%) rotate(0deg); } 
   
    100% { transform: translate(-50%,-50%) rotate(360deg); } 
}

.experience_slider .slick-slide.slick-current{  transform: translateX(-15%); }
.experience_slider .experience_thumnail .link img { 
    display: inline-block; 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%,-50%); 
    width: 8.3rem; height: 8.3rem; 
    animation: rotate_ani 15s infinite linear; 
} 
.experience_slider .experience_thumnail .link::before { 
    display: block; 
    content: "+"; 
    font-family: 'xeicon';
        position: absolute; 
        top: 50%; left: 50%; 
        transform: translate(-50%,-60%); 
        font-size: 3.7rem; 
        color: #fff; 
    } 
.experience_slider .slick-slide.slick-current .experience_thumnail .img { 
    box-shadow: none; 
    width: 36.6rem; height: 36.6rem; 
    margin-top: -4.3rem; 
    cursor: auto; 
    
    } 
.experience_slider .slick-slide.slick-current .experience_thumnail .img::before { 
    opacity: 1; 
    visibility: visible; 
    width: 100%; height: 100%; 
    border-radius: 7rem; 
    } 
.experience_slider .slick-slide.slick-current .experience_thumnail .hidden_txt { 
    opacity: 1; 
    visibility: visible; 
    bottom: 4.3rem; 
    transition: .5s .25s; 
    } 
.experience_slider .slick-slide.slick-current .experience_thumnail .link { 
    opacity: 1; 
    visibility: visible; 
    transition: .5s .5s; 
    } 







.input_text { 
    position: relative; 
    border-bottom: 3px solid #111; 
    padding-right: 4rem; 
    display: block; 
} 
.input_text input { 
    display: block; 
    width: 100%; height: auto; 
    font-size: 2rem; 
    font-weight: 500; 
    color: #000; 
    border: none; 
    letter-spacing: -0.06rem; 
    outline: none !important; 
    padding: 1.2rem 0; 
} 
.search_input button {
     position: absolute; 
     top: 50%; right: 0; 
     transform: translateY(-50%);
} 
.search_input button i { font-size: 2.6rem; color:#333; } 



/* active */
.toggle_list > li.active .title { color: #fff; } 
.toggle_list > li.active .title::before { opacity: 1; } 
.toggle_list > li.active .title:after { transform: translateY(-50%) rotate(180deg); color: #fff; } 

.experience_tab::after { display: block; content: ""; clear: both; } 
.experience_tab > ul { float: left; } 
.experience_tab > ul::after { display: block; content: ""; clear: both; } 
.experience_tab > ul > li { display: inline-block; vertical-align: middle; } 
.experience_tab > ul > li > a { padding: 1rem 2rem; display: block; text-align: center; font-size: 2rem; border-radius: 2rem; font-family:'Karla'; font-weight: 300; } 
.experience_tab > ul > li.active > a { color: #fff; font-weight: 600; background: #111; box-shadow: 0px .5rem 1.3rem rgba(17,17,17,0.3); } 
.experience_tab .search_input input { width: 36rem; max-width: 100%; border:none;} 
.experience_search {float: right;}
.experience_search .search_input { float: none; display: inline-block; vertical-align: bottom; }
.experience_search .select_year {display: inline-block; vertical-align: bottom; padding-left: 3rem; position: relative; width: 15rem;}
.experience_search .select_year .selected {display:block; height: 4.6rem; width: 100%; padding: 0 2.2rem; border-radius: 2.3rem; border: 2px solid #111;}
.experience_search .select_year .selected span {display: block; position: relative; text-align: left; padding-right: 3rem; font-size: 1.6rem; color: #111; line-height: calc(4.6rem - 4px);}
.experience_search .select_year .selected span::after {display: block; content: "\eb38"; font-family: 'xeicon'; position: absolute; top: 50%; right: 0; transform: translateY(-50%); color: #111; line-height: 1;}
.experience_search .select_year .select_list {position: absolute; top: calc(100% + 1rem); left:3rem; width:calc(100% - 3rem); text-align: center; border: 2px solid #111; border-radius: 2rem;z-index: -1; background: #fff; opacity: 0; visibility: hidden;}
.experience_search .select_year .select_list ul {padding: 1.6rem 1rem;  height: 20.2rem; overflow:auto;}
.experience_search .select_year .select_list ul li {margin-bottom: .6rem;}
.experience_search .select_year .select_list ul li:last-of-type {margin-bottom: 0;}
.experience_search .select_year .select_list ul li a {display: block;}
.experience_search .select_year .select_list ul li a:hover {text-decoration: underline;}
.experience_search .select_year.active .select_list {opacity: 1; visibility: visible; z-index: 2; transition: .7s;}
.experience_search .select_list .mCSB_dragger_bar {background-color: #111 !important;}


/* toggle layout */
.toggle_list > li { position: relative; } 
.toggle_list > li:first-of-type::after { display: block; content: ""; width: 500%; height: 1px; background: #eee; position: absolute; top: 0; left: 50%; transform: translateX(-50%)} 
.toggle_list > li::before { display: block; content: ""; width: 500%; height: 1px; background: #eee; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); } 
.toggle_list .title { display: block; position: relative; padding: 3.9rem 0; color: #111; } 
.toggle_list .title.has_link, .toggle_list .title.can_open {padding-right: 9rem;}
.toggle_list .title::before { display: block; content: ""; width: 500%; height: 100%; background: #111; position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: -1; opacity: 0; } 
.toggle_list .title.can_open:after { display: block; content: "\e943"; font-family: 'xeicon'; position: absolute; top: 50%; right: 0; transform: translateY(-50%); font-size: 3rem; color: #333; transition: .3s; } 
.toggle_list .title.has_link:after {display: block; content:""; width: 3rem; height: 3rem; background: url(/img/has_link.svg)no-repeat center center / cover; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.toggle_list .toggle_contents { display: none; } 
.toggle_list .toggle_contents > div { padding: 7rem 0; } 




.experience_tab_contents .experience_contents {padding-top: 6rem;}
.experience_tab_contents  .experience_contents .empty {font-size: 18px; color: #999; text-align:center; display: block; padding: 10rem 0; margin-top: -6rem;}
.experience_tab_contents  .experience_contents > li { display: none; padding-top: 6rem;} 
.experience_tab_contents  .experience_contents > li.active { display: block; } 
#experience_tab_contents .toggle_list .title .category { display: inline-block; width: 18rem; vertical-align: middle; margin-right: -4px; } 
#experience_tab_contents .toggle_list .title .category span { display: inline-block; position: relative; font-family:'Karla'; font-size: 1.8rem; font-weight: 700; letter-spacing: 0; } 
#experience_tab_contents .toggle_list .title .category span::after { 
    display: block; 
    content: ""; 
    width: .5rem; height: .5rem; 
    background: #04A6E1; 
    border-radius: 50%; 
    position: absolute; 
    top: .65rem; left: calc(100% + .5rem); 
} 
#experience_tab_contents .toggle_list .title .name {
    width: calc(100% - 18rem); 
    margin-right: -4px; 
    vertical-align: middle; 
    display: inline-block; 
    margin-right: -4px; 
    font-size: 2.5rem;
    font-weight: 500; 
    letter-spacing: -0.03rem; 
    font-family: "Noto Sans KR", sans-serif;
} 















footer{
    background: #fff;
    position:relative;
    width:100%;
    bottom:0; left:0;
    
}
footer .footer_inner{
    max-width:128rem;
    position:relative;
    margin:0 auto;
    padding: 6rem 0; 
}
footer .footer_inner .foot_left p{
    font-size: 1.6rem;
    font-weight: 300;
    color: #999;
    font-family: 'Noto Sans KR' sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.01rem;
}
footer .footer_inner .foot_left p span{
    display: inline-block;
    margin-right: 1.2rem;
}
footer .footer_inner .foot_left p span strong{
    color:#111;
    padding-right:0.5rem;
}


footer .footer_inner .select_box{
    position: absolute; 
    top:50%; right:0; 
    transform: translateY(-50%);
}
footer .footer_inner .select_box .select{
    width:20rem; height:4.5rem;
    border: 1px solid #e1e1e1;
    border-radius:5px;
    color:#767676;
    padding-right:2rem;
    display:block;
    position:relative;
    line-height: calc(4.5rem - 2px);
    text-align: left;
    padding-left: 2rem;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}

footer .footer_inner .select_box .select::before{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    right: 2rem;
    content: "";
    background-size: cover;
    transition: all .2s;
    content: "+";
    font-family: "xeicon";
    font-size: 2rem;
    color: #999;
}
footer .footer_inner .select_box .select.on::before{
    transform-origin: center;
    transform: translateY(-50%) rotate(45deg); 
}
footer .footer_inner .select_box ul{
    border:1px solid #e1e1e1;
    background:#fff;
    border-radius: 5px;
    display:none;
}
footer .footer_inner .select_box ul{
    position:absolute;
    bottom:5rem;
    border:1px solid #e1e1e1;
    overflow:hidden;
    width:20rem;
    z-index:100;
}
footer .footer_inner .select_box ul li{
    list-style: none;
}
footer .footer_inner .select_box ul li a{
    display: block;
    font-weight: 300;
    position: relative;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 100%;
    text-align: left;
    padding: 0 2rem;
    color: #999;
    font-size: 1.6rem;
}

footer .footer_inner .select_box ul li:first-of-type a{
    border-top:0;
}
