@charset "utf-8";
@import url(font.css);

*{
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.ani #header { 
    opacity:0;
    transform: translate3d(0,-100px,0);
    transition:1s; 
}
.main_ani.ani #header  { opacity:1;transform: translateZ(0);  }

.ani .left_content .circle_button{ opacity:0;transform: translate3d(-500px,0,0);transition:1s; }
.main_ani.ani .left_content .circle_button{ opacity:1;transform: translateZ(0) translateX(-10%); }

.ani .left_content .txt_wrap{ opacity:0;transform: translate3d(-500px,0,0);  transition:1s; }
.main_ani.ani .left_content .txt_wrap{ opacity:1;transform: translateZ(0) translateX(-20%); }

.ani .right_content .visual_box .visual{ opacity:0;right:-100%;transition:1s; }
.main_ani.ani .right_content .visual_box .visual{ opacity:1;right:0;  }

.ani .intro_txt { opacity:0;transform: translate3d(200px,0,0);transition:1s; }
.main_ani.ani .intro_txt { opacity:1;transform: translateZ(0);  }

.ani #footer { opacity:0;transform: translate3d(0,100px,0);transition:1s; }
.main_ani.ani #footer{ opacity:1;transform: translateZ(0); }


#header{
    position: fixed; 
    width:100%; 
    background: #fff; 
    height: 10rem; 
    z-index: 101; 
    left:0; top:0;
}
#header .menu{
    position:fixed;
    background-color:#fff;
    width:100%;
    height:10rem;
    z-index:100;
    left:0; top:0;
    padding:0 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#header .menu .logo{
    display:inline-block;
    width:11.1rem;
    height:100%;
}
#header .menu .logo a{
    position:relative;
    left:0; top:50%;
}
#header .menu .logo a img{
    transform: translateY(-50%);
}
#header .menu .menu_list{
    display:block;
    text-align: center;
}
#header .menu .menu_list ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .menu .menu_list ul li{
    width:17rem;
    font-size:2rem;
    font-family:'Karla', sans-serif;
    font-weight: 500;
}

#header .menu .sub_menu{
    display:block;
}
#header .menu .sub_menu .all_menu{
    position:relative;
    left:0; top:0;
    display:block;
    width:5rem;
    height:5rem;
    background-color:#111;
    border-radius: 50%;
}

#header .menu .sub_menu .all_menu .icon{
    position:absolute;
    text-align: center;
    transform: translate(-50%, -25%);
}
#header .menu .sub_menu .all_menu .icon .line{
    display:block;
    background-color: #fff;
    width:2rem;
    height:0.2rem;
    margin-bottom:0.5rem;
}












main .container{
    width:100%;
    height:100vh;
    margin:0 auto;
    position:relative;
    display:inline-block;
    transform:translateY(-3%);
}

main .container .left_content{
    width:100%;
    position: relative;
    left:0; top:50%;
    padding-left:6rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    z-index:99;
}
main .container .left_content .circle_button{
    width:20%;
    margin:0;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

main .container .left_content .circle_button .button_text{
    position:relative;
    z-index: 100;
    width:12rem;
    height:12rem;
    background-color: #111;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}



main .container .left_content .circle_button .slick-arrow {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    z-index: -50;
    transition: all .3s ease-in-out;
    width:3.4rem;
    display: block; 
}

main .container .left_content .circle_button .slick-arrow i img:first-of-type+img { 
    display: none;
 }

main .container .left_content .circle_button .slick-arrow.up_btn { top:40%; }
main .container .left_content .circle_button .slick-arrow.down_btn { bottom:40%; }

main .container .left_content .circle_button .slick-arrow.on:hover i img:first-of-type { display:none;}
main .container .left_content .circle_button .slick-arrow.on:hover i img:first-of-type+img { display:block;}

main .container .left_content .circle_button .slick-arrow.on.up_btn { top:-5rem; }
main .container .left_content .circle_button .slick-arrow.on.down_btn { bottom:-5rem; }


main .container .left_content .circle_button .button_text button { display: block;position: absolute; top:0;left:0;width:100%;height: 100%;border-radius: 50%; }
main .container .left_content .circle_button .button_text .play { display: none; }
main .container .left_content .circle_button .button_text .stop { display: none; }
main .container .left_content .circle_button .button_text .play.on { display: block; }
main .container .left_content .circle_button .button_text .stop.on { display: block; }





main .container .left_content .txt_wrap{
    overflow: hidden;
    position: relative; 
    font-size:9.4rem; 
    font-weight: 700; 
    letter-spacing: -.5rem; 
    display: inline-block;
}
main .container .left_content .txt_wrap .txt_top{
    overflow: hidden;
    margin-bottom:4rem; 
    line-height: 120%;
}
main .container .left_content .txt_wrap .txt_top .txt_slide{
    line-height: 120%;
    height:61px;
    display: block; 
    float: left;
    margin-right:1.5rem;
}
main .container .left_content .txt_wrap .txt_top .txt_slide div{
    line-height: 120%;
}
main .container .left_content .txt_wrap .txt_top .txt_slide .slick-slide{
    width:auto !important; float: none;border:0;
}
main .container .left_content .txt_wrap .txt_top .txt_value{
    line-height: 120%; 
    position: relative;
    display: inline-block;
    padding-left:2rem;
}
main .container .left_content .txt_wrap .txt_bottom{
    line-height: 120%;
}
main .container .left_content .txt_wrap .txt_bottom .txt_value{
    line-height: 120%; 
    position:relative;
    display:inline-block;
}
main .container .left_content .txt_wrap .txt_bottom .txt_value::before{
    content:'';
    width:1.7rem; height:1.7rem;
    display:block;
    position:absolute;
    background: #04A6E1;
    border-radius: 50%;
    bottom:1rem; right:-4rem;
}


main .container .right_content{
    width:100%;
    position:absolute;
    text-align: right;
    right:30rem; bottom:25rem;
}

.container .play_bar{ 
    position: absolute;
    left:50%;top:50%;
    transform: translate(-50%,-50%); 
    width:100%; 
}
.container .play_bar { text-align: center; }
.container .play_bar .bar_box { 
    position:relative;
    display: block; 
    background: #E1E1E1;
    width:100%; height:1px; 
}
.container .play_bar .bar_box .bar { 
    position: relative; 
    display: block; 
    width:100%;height: 100%; 
    z-index: -50;
}
.container .play_bar .bar_box .bar:before{ 
    content: ""; 
    display: block; 
    position: absolute; 
    width:0;
    height: 3px; 
    background:linear-gradient(to left, #04A6E1, #04A6E1, #000);
    animation: bar 5s 1;
}
.container .play_bar .bar_box .full_bar:before { 
    animation: play_bar 5s 1;
    width:100%; 
}
.container .play_bar .bar_box .full_bar.stop:before { 
    animation-play-state: paused; 
}

main .container .right_content {
    max-width:1920px; 
    padding:0 1rem; 
    z-index: 1;  
}

main .container .right_content .visual_box {
    position: absolute;
    top: 50%; right: -15%;
    transform: translateY(-110%);
    width: 110rem; 
}
main .container .right_content .visual .vs_txt { 
    font-size:18rem;
    font-family: "Quentin";
    text-align: center;
    transform: rotate(-5deg);color:#04A6E1; 
}
main .container .right_content .visual .slick-list{ overflow: unset; }
main .container .right_content .visual div { position: relative; }
main .container .right_content .visual .slick-slide .vs_txt  { right: -100%; position: relative; transition: all .6s; opacity: 0;}
main .container .right_content .visual .slick-slide.slick-current.active .vs_txt { right: 0;  opacity: 1;}


main .container .right_content .intro_txt p{
    color: #555;
    text-decoration: underline;
    font-size:1.9rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    text-decoration-color: #555;
    line-height: 4rem;
    margin:0; padding:0;
}






@keyframes play_bar{
    0% {width:0;}
    100% {width:100%;}
}
@keyframes bar{
    0% {width:0;}
    100% {width:100%;}
}






footer{
    background: #fff;
    position:fixed;
    width:100%;
    bottom:0; left:0;
    
}
footer .footer_inner{
    max-width:128rem;
    position:relative;
    margin:0 auto;
    padding: 6rem 0; 
}
footer .footer_inner .foot_left p{
    font-size: 1.6rem;
    font-weight: 300;
    color: #999;
    font-family: 'Noto Sans KR' sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.01rem;
}
footer .footer_inner .foot_left p span{
    display: inline-block;
    margin-right: 1.2rem;
}
footer .footer_inner .foot_left p span strong{
    color:#111;
    padding-right:0.5rem;
}


footer .footer_inner .select_box{
    position: absolute; 
    top:50%; right:0; 
    transform: translateY(-50%);
}
footer .footer_inner .select_box .select{
    width:20rem; height:4.5rem;
    border: 1px solid #e1e1e1;
    border-radius:5px;
    color:#767676;
    padding-right:2rem;
    display:block;
    position:relative;
    line-height: calc(4.5rem - 2px);
    text-align: left;
    padding-left: 2rem;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
}

footer .footer_inner .select_box .select::before{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    right: 2rem;
    content: "";
    background-size: cover;
    transition: all .2s;
    content: "+";
    font-family: "xeicon";
    font-size: 2rem;
    color: #999;
}
footer .footer_inner .select_box .select.on::before{
    transform-origin: center;
    transform: translateY(-50%) rotate(45deg); 
}
footer .footer_inner .select_box ul{
    border:1px solid #e1e1e1;
    background:#fff;
    border-radius: 5px;
    display:none;
}
footer .footer_inner .select_box ul{
    position:absolute;
    bottom:5rem;
    border:1px solid #e1e1e1;
    overflow:hidden;
    width:20rem;
    z-index:100;
}
footer .footer_inner .select_box ul li{
    list-style: none;
}
footer .footer_inner .select_box ul li a{
    display: block;
    font-weight: 300;
    position: relative;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 100%;
    text-align: left;
    padding: 0 2rem;
    color: #999;
    font-size: 1.6rem;
}

footer .footer_inner .select_box ul li:first-of-type a{
    border-top:0;
}
